<div>
    <h2>Registrar</h2>
    <form action="/register" method="POST">
    <div>
        <label for="name">Nome:</label>
        <input type="text" name="nome" placeholder="Digite o nome do usuario" required>
    </div>
    <div>
        <label for="email">E-mail:</label>
        <input type="text" name="email" placeholder="Digite o e-mail do usuario" required>
    </div>
    <div>
        <label for="password">Senha:</label>
        <input type="password" name="senha" placeholder="Digite a senha do usuario" required>
    </div>
    <div>
        <label for="confirmpassword">Confirmação de senha:</label>
        <input type="password" name="confirmpassword" placeholder="Confirme a senha" required>
    </div>
    <input type="submit" value="Cadastrar">
    
    </form>
</div>