<h1>contate-nos</h1>

<div>
    <form action="/pedidos/contato" method="POST">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Nome"  required>
            <label for="email">E-mail:</label>
            <input type="text" name="email" placeholder="Email" required>
            <label for="telefone">Telefone:</label>
            <input type="number" name="telefone" placeholder="Telefone">
            <label for="assunto">Assunto:</label>
            <input type="text" name="assunto" placeholder="Assunto" required>
            <label for="descrição">Descrição:</label>
            <input type="text" name="descrição" placeholder="Descrição">
        </div>
        <input type="submit" value="Enviar Dados">
    </form>
</div>