<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/servico">Serviço</a></li>
        <li><a href="/contato">Contate-nos</a></li>
        <!-- url autenicação -->
        {{#if session.userid}}
        <li><a href="/pedidos">Pedidos</a></li>
        <li><a href="/register">Cadastro</a></li>
        <li><a href="/logout">Sair</a></li>
        {{else}}
        <li><a href="/login">entrar</a></li>
        
        {{/if}}
    </ul>

    
    <!-- {{{ body }}} -->
    {{#if messages.message}}
    <div class="message">
        {{messages.message}}
    </div>
    {{/if}}
    {{{ body }}}
</body>
</html>